@import "tailwindcss";
body {
  @apply bg-gray-50 text-gray-800;
}

@layer utilities {
  .animate-slide-in-from-right {
    animation: slide-in-from-right 0.4s ease-out forwards;
  }
  .animate-bounce-slow {
    animation: bounce-slow 1s ease-in-out infinite;
  }
  .slide-in-from-bottom {
    animation: slide-in-from-bottom 0.4s ease-out forwards;
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes slide-in-from-bottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
